<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Citas 
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink] = "['/configuraciones']">
        <ion-icon icon="settings-outline" slot="icon-only"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="random-quote-container" *ngIf="citaAleatoria; else loading" vertical="middle"></div>
    <ion-card>
      <ion-card-header>
        <h3 class="quote-text" vertical="middle">{{ citaAleatoria.texto }}</h3>
      </ion-card-header>
      <ion-card-content>
        <p class="quote-author" vertical="middle">{{ citaAleatoria.autor}}</p>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ng-template #loading>
    <p>Cargando...</p>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/citas']">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
